@use "common/variables";

.about {
  padding: 31px 30px 30px;
  background-color: variables.$primary-background-color;

  @media (min-width: variables.$tablet-min-width) {
    padding: 56px 50px 26px;
  }

  @media (min-width: variables.$desktop-min-width) {
    padding: 68px 175px 31px;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: variables.$tablet-min-width) {
    margin-bottom: 41px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-bottom: 39px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  color: variables.$primary-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  list-style-type: none;

  @media (min-width: variables.$tablet-min-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__item {
  margin-bottom: 30px;
  flex-basis: 100%;

  &::before {
    content: "";
    display: block;
    margin: 0;
    line-height: 0;
    background-repeat: no-repeat;
  }

  &--ecological {
    margin-bottom: 30px;

    &::before {
      width: 33px;
      height: 38px;
      margin-bottom: 16px;
      margin-left: 8px;
      background-image: url("../img/decoration/svg/icon/flower.svg");
    }
  }

  &--handmade {
    margin-bottom: 33px;

    &::before {
      width: 35px;
      height: 34px;
      margin-bottom: 17px;
      margin-left: 3px;
      background-image: url("../img/decoration/svg/icon/ball-thread.svg");
    }
  }

  &--scandinavian {
    margin-bottom: 35px;

    &::before {
      width: 47px;
      height: 27px;
      margin-bottom: 26px;
      background-image: url("../img/decoration/svg/icon/banknote.svg");
    }
  }

  &--domestic {
    margin-bottom: 32px;

    &::before {
      width: 55px;
      height: 23px;
      margin-bottom: 26px;
      margin-left: -6px;
      background-image: url("../img/decoration/svg/icon/rocket.svg");
    }
  }

  &--likes {
    margin-bottom: 32px;

    &::before {
      width: 34px;
      height: 27px;
      margin-bottom: 21px;
      margin-left: 7px;
      background-image: url("../img/decoration/svg/icon/heart.svg");
    }
  }

  &--package::before {
    width: 33px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 3px;
    background-image: url("../img/decoration/svg/icon/gift-package.svg");
  }

  @media (max-width: variables.$mobile-max-width) {
    &:nth-child(2n + 2) {
      order: 1;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: variables.$tablet-min-width) {
    flex-basis: 50%;
    padding-right: 40px;
    margin-bottom: 55px;

    &:nth-child(even) {
      padding-left: 1px;
    }

    &--ecological::before {
      margin-bottom: 19px;
    }

    &--handmade::before {
      margin-top: 4px;
      margin-bottom: 20px;
      margin-left: 2px;
    }

    &--scandinavian::before {
      margin-bottom: 27px;
      margin-left: 1px;
    }

    &--domestic::before {
      margin-top: 3px;
      margin-bottom: 29px;
      margin-left: -7px;
    }

    &--likes::before {
      margin-top: 6px;
      margin-bottom: 22px;
      margin-left: 8px;
    }

    &--package::before {
      margin-top: 2px;
      margin-bottom: 22px;
      margin-left: 2px;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-bottom: 57px;

    &:nth-child(even) {
      padding-left: 0;
    }

    &--handmade::before {
      margin-bottom: 19px;
      margin-left: 3px;
    }

    &--scandinavian::before {
      margin-bottom: 26px;
    }

    &--domestic::before {
      margin-top: 3px;
      margin-bottom: 28px;
      margin-left: -6px;
    }

    &--likes::before {
      margin-top: 4px;
      margin-bottom: 22px;
      margin-left: 8px;
    }

    &--package::before {
      margin-top: 0;
      margin-left: 3px;
    }
  }
}

.about__icon {
  display: block;
}

.about__item-title {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
