@use "common/variables";

@mixin menu-button() {
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    background-color: transparent;
    opacity: 0.7;
  }

  &:active {
    background-color: transparent;
    opacity: 0.3;
  }
}

.button {
  padding: 14px 18px;
  border: 2px solid variables.$secondary-color;
  background-color: variables.$primary-background-color;
  color: variables.$secondary-color;
  font-family: inherit;
  font-style: inherit;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;

  .button__label {
    transition: all 150ms;
  }

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #ffffff;
    background-color: #444444;

    .button__label {
      opacity: 0.3;
    }
  }

  &--to-cart {
    padding: 0;
    border: none;
    width: 20px;
    height: 19px;
    background-color: variables.$primary-color;
    mask-image: url("../img/svg/stack.svg#cart");
    opacity: 0.2;

    &:hover {
      background-color: variables.$color-turquoise;
      opacity: 1;
    }

    &:active {
      background-color: variables.$color-turquoise;
      opacity: 0.3;
    }

    @media (min-width: variables.$tablet-min-width) {
      width: 21px;
      height: 18px;
    }
  }

  &--link {
    display: inline-grid;
    grid-template-columns: 46px 1fr;
    align-items: center;
    padding: 0;
    border: none;
    color: variables.$primary-color;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: none;
    text-align: start;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      margin-left: 2px;
      background-color: variables.$primary-color;
      mask-image: url("../img/svg/stack.svg#magnifier");
      opacity: 0.2;
      transition: all 150ms;
    }

    @media (min-width: variables.$tablet-min-width) {
      display: flex;

      .button__label {
        display: none;
      }
    }
  }

  &--link:hover {
    color: variables.$primary-color;
    background-color: transparent;

    .button__label {
      opacity: 0.6;
    }

    &::before {
      background-color: variables.$color-turquoise;
      opacity: 1;
    }
  }

  &--link:active {
    color: variables.$primary-color;
    background-color: transparent;

    .button__label {
      opacity: 0.3;
    }

    &::before {
      background-color: variables.$color-turquoise;
      opacity: 0.3;
    }
  }

  &--colored {
    padding: 18px 30px;
    border: none;
    color: variables.$color-white;
    background-color: variables.$color-turquoise;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
  }

  &--colored:hover {
    background-color: #21ceaa;
  }

  &--colored:active {
    background-color: #21ceaa;
    opacity: 0.5;

    .button__label {
      opacity: 1;
    }
  }

  &--play {
    border: none;
    padding: 0;
    border-radius: 20px;
    background-image: url("../img/svg/stack.svg#play");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 190ms;

    &:hover {
      background-color: transparent;
      transform: scale(120%);
    }

    &:active {
      transform: scale(80%);
      opacity: 0.3;
    }
  }

  &--menu-open {
    width: 20px;
    height: 14px;
    @include menu-button();
    background-image: url("../img/svg/stack.svg#menu-open");
  }

  &--menu-close {
    width: 21px;
    height: 20px;
    @include menu-button();
    background-image: url("../img/svg/stack.svg#menu-close");
  }

  &--alternate {
    padding: 16px 30px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
  }
}
