@use "common/variables";

@mixin menu-button() {
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    background-color: transparent;
    opacity: 0.7;
  }

  &:active {
    background-color: transparent;
    opacity: 0.3;
  }
}

.button {
  padding: 14px 18px;
  border: 2px solid variables.$secondary-color;
  background-color: variables.$primary-background-color;
  color: variables.$secondary-color;
  font-family: inherit;
  font-style: inherit;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #ffffff;
    background-color: #444444;

    .button__label {
      opacity: 0.3;
    }
  }

  &--icon {
    padding: 0;
    border: none;
    color: variables.$primary-color;

    .button__icon {
      opacity: 0.2;
    }

    &:hover {
      background-color: transparent;

      .button__icon {
        color: variables.$color-turquoise;
        opacity: 1;
      }
    }

    &:active {
      background-color: transparent;

      .button__icon {
        color: variables.$color-turquoise;
        opacity: 0.3;
      }
    }
  }

  &--link {
    display: inline-grid;
    grid-template-columns: 46px 1fr;
    align-items: center;
    padding: 0;
    border: none;
    color: variables.$primary-color;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: none;
    text-align: start;

    .button__icon {
      margin-left: 2px;
      opacity: 0.2;
    }

    &:hover {
      color: variables.$primary-color;
      background-color: transparent;

      .button__icon {
        color: variables.$color-turquoise;
        opacity: 1;
      }

      .button__label {
        opacity: 0.6;
      }
    }

    &:active {
      color: variables.$primary-color;
      background-color: transparent;

      .button__icon {
        color: variables.$color-turquoise;
        opacity: 0.3;
      }

      .button__label {
        opacity: 0.3;
      }
    }

    @media (min-width: variables.$tablet-min-width) {
      display: flex;

      .button__label {
        display: none;
      }
    }
  }

  &--colored {
    padding: 18px 30px;
    border: none;
    color: variables.$color-white;
    background-color: variables.$color-turquoise;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;

    &:hover {
      background-color: #21ceaa;
    }

    &:active {
      background-color: #21ceaa;
      opacity: 0.5;

      .button__label {
        opacity: 1;
      }
    }
  }

  &--play {
    border: none;
    padding: 0;
    border-radius: 20px;
    background-image: url("../img/icon/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 150ms;

    &:hover {
      transform: scale(120%);
    }

    &:active {
      transform: scale(80%);
      opacity: 0.3;
    }
  }

  &--menu-open {
    @include menu-button();
    background-image: url("../img/icon/menu-open.svg");
  }

  &--menu-close {
    @include menu-button();
    background-image: url("../img/icon/menu-close.svg");
  }

  &--alternate {
    padding: 16px 30px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
  }
}
