@use "common/variables";

.button {
  padding: 14px 18px;
  border: 2px solid variables.$secondary-color;
  background-color: variables.$primary-background-color;
  color: variables.$secondary-color;
  font-family: inherit;
  font-style: inherit;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--link {
    display: inline-grid;
    grid-template-columns: 46px 1fr;
    align-items: center;
    padding: 0;
    border: none;
    color: variables.$primary-color;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: none;
    text-align: start;

    @media (min-width: variables.$tablet-min-width) {
      display: flex;

      .button__label {
        display: none;
      }
    }
  }

  &--colored {
    padding: 18px 30px;
    border: none;
    color: variables.$color-white;
    background-color: variables.$color-turquoise;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
  }

  &--icon-only {
    color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0;

    .button__icon {
      display: block;
      margin: auto;
    }

    &:hover {
      color: variables.$color-turquoise;
    }

    &:active {
      color: rgba(99, 209, 187, 0.3);
    }
  }

  &--play {
    border: none;
    padding: 0;
    border-radius: 20px;
    background-image: url("../img/icon/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 150ms;

    &:hover {
      transform: scale(120%);
    }

    &:active {
      transform: scale(80%);
      opacity: 0.3;
    }
  }

  &--menu-open {
    border: none;
    padding: 0;
    background-image: url("../img/icon/menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--menu-close {
    border: none;
    padding: 0;
    background-image: url("../img/icon/menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--alternate {
    font-size: 17px;
    line-height: 16px;
    padding: 16px 24px;
  }
}
