@use "common/variables";

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: variables.$desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  margin: 0 0 30px;

  &:last-child {
    margin-bottom: 31px;
  }

  @media (min-width: variables.$tablet-min-width) {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 53px;
    }
  }

  // @media (min-width: variables.$desktop-min-width) {
  //   width: 316px;
  //   margin-bottom: 57px;

  //   &:last-child {
  //     margin-bottom: 57px;
  //   }

  //   &:nth-child(4n+2) {
  //     justify-self: center;
  //   }

  //   &:nth-child(4n+3) {
  //     justify-self: end;
  //   }
  // }

  @media (min-width: variables.$desktop-min-width) {
    margin-bottom: 57px;

    &:last-child {
      margin-bottom: 57px;
    }

    &:nth-child(4n+1) {
      margin-right: 34px;
    }

    &:nth-child(4n+2) {
      margin-left: 18px;
      margin-right: 17px;
    }

    &:nth-child(4n+3) {
      margin-left: 34px;
    }
  }
}
