@use "common/variables";

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: variables.$desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 51px;
  }
}

.catalog__item {
  margin: 0 0 30px;

  &:last-child {
    margin-bottom: 31px;
  }

  @media (min-width: variables.$tablet-min-width) {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 53px;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-bottom: 57px;

    &:last-child {
      margin-bottom: 57px;
    }
  }
}
