@use "common/variables";

.contacts {
  padding: 38px 0 39px;
  background-color: variables.$primary-background-color;

  @media (min-width: variables.$tablet-min-width) {
    padding: 46px 0 57px;
  }

  @media (min-width: variables.$desktop-min-width) {
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-columns: 175px 2fr 3fr;
    padding: 71px 50px 105px;
  }
}

.contacts__wrapper {
  padding: 0 30px 62px;

  @media (min-width: variables.$tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px 18px;

    &::before {
      content: "";
      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/decoration/svg/icon/flag.svg");
      margin-right: 3px;
      line-height: 0;
      order: 2;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-auto-rows: min-content;
    padding: 0;

    &::before {
      grid-column: 1 / 2;
      justify-self: center;
      margin: 62px 2px 28px 0;
      order: 0;
    }
  }
}

.contacts__title {
  margin: 0 0 28px;

  @media (min-width: variables.$tablet-min-width) {
    margin: 23px 0 49px;
    order: 1;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin: 0;
    margin-left: -1px;
    padding: 79px 40px 35px 0;
  }
}

.contacts__address {
  font-family: variables.$font-stack;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: variables.$secondary-color;

  @media (min-width: variables.$tablet-min-width) {
    flex: 0 0 100%;
    order: 3;
    font-size: 17px;
  }

  @media (min-width: variables.$desktop-min-width) {
    grid-column: 2 / 3;
    margin-left: -1px;
  }
}

.contacts__list {
  margin: 0;

  @media (min-width: variables.$tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__item-wrapper {
  display: flex;
  margin-bottom: 30px;

  @media (max-width: variables.$mobile-max-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: variables.$tablet-min-width) {
    flex: 0 0 50%;

    &:nth-child(2n + 1) {
      padding-right: 20px;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    flex-basis: auto;
    padding-right: 40px;

    &:nth-child(2n + 1) {
      padding-right: 40px;
    }
  }
}

.contacts__item {
  width: 76px;
  padding-right: 8px;

  @media (min-width: variables.$tablet-min-width) {
    width: 78px;
  }
}

.contacts__item-value {
  margin: 0;
  padding-left: 2px;

  @media (min-width: variables.$tablet-min-width) {
    padding-left: 0;
  }
}

.contacts__email {
  color: variables.$secondary-color;
}

.contacts__map {
  position: relative;
  margin-bottom: 41px;

  @media (min-width: variables.$tablet-min-width) {
    margin-bottom: 55px;
  }

  @media (min-width: variables.$desktop-min-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin: 0;
  }

  &--nojs {
    .contacts__map-image {
      display: none;
    }

    .contacts__fallback-map-image {
      display: block;
    }
  }
}

.contacts__map-image {
  display: block;
  width: 100%;
  border: 0;

  @media (min-width: variables.$tablet-min-width) {
    height: auto;
    aspect-ratio: 768 / 457;
  }

  @media (min-width: variables.$desktop-min-width) {
    aspect-ratio: 525 / 457;
  }
}

.contacts__fallback-map-image {
  display: none;
  width: 100%;
}

.contacts__write-link {
  width: calc(100% - 60px);
  margin: 0 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  @media (min-width: variables.$tablet-min-width) {
    display: block;
    width: 30%;
    margin: 0 auto;
    font-size: 17px;
  }

  @media (min-width: variables.$desktop-min-width) {
    grid-column: 2 / 3;
    width: 230px;
    margin: 0;
    align-self: end;
  }
}
