@use "common/variables";

.control {
  display: flex;
  flex-direction: column;

  &--one-line {
    flex-direction: row;
    align-items: center;

    .control__input {
      order: -1;
    }
  }

  &--merged {
    position: relative;
    justify-content: center;
    align-items: center;

    .control__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .control__label {
      font-size: 17px;
      line-height: 16px;
    }
  }

  @media (min-width: variables.$tablet-min-width) {
    flex-direction: row;
    align-items: center;

    &--simple .control__label {
      margin-right: 24px;

    }
  }

  @media (min-width: variables.$desktop-min-width) {
    &--simple .control__label {
      margin-left: 2px;
    }
  }
}

.control__label {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: variables.$tablet-min-width) {
    font-size: 19px;
  }
}

.control__input {
  margin: 0;
  width: 100%;
  height: 52px;
  flex-shrink: 0;
  flex-grow: 1;

  &--radio {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    flex-grow: 0;
  }

  &--checkbox {
    width: 38px;
    height: 38px;
    margin-right: 23px;
    flex-grow: 0;
  }

  &--textarea {
    height: 142px;
  }

  &:hover ~ .control__decoration,
  &:focus-visible ~ .control__decoration {
    color: variables.$form-hover-color;
    opacity: 1;
  }

  @supports not selector(::focus-visible) {
    &:focus ~ .control__decoration {
      color: variables.$form-hover-color;
      opacity: 1;
    }
  }

  @media (min-width: variables.$tablet-min-width) {
    width: auto;
    background-color: transparent;

    &--radio {
      width: 50px;
      height: 50px;
      margin-right: 27px;
    }

    &--checkbox {
      width: 52px;
      height: 52px;
      margin-right: 29px;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    &--radio {
      margin-right: 29px;
    }
  }
}

.control__decorated-input-wrapper {
  position: relative;
  display: block;
  flex-grow: 1;

  .control__input {
    width: 100%;
  }
}

.control__decoration {
  position: absolute;
  opacity: 0.2;
  pointer-events: none;

  &--phone {
    top: 11px;
    right: 7px;
  }

  &--email {
    top: 16px;
    right: 3px;
  }

  @media (min-width: variables.$tablet-min-width) and (max-width: variables.$tablet-max-width) {
    &--phone {
      right: 26px;
    }

    &--email {
      right: 22px;
    }
  }
}
