@use "common/variables";

.control {
  // color: variables.$primary-color;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;

  &--one-line {
    flex-direction: row;
    align-items: center;

    .control__input {
      order: -1;
    }
  }

  &--merged {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .control__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.control__input {
  margin: 0;
  height: 52px;
  flex-shrink: 0;
  align-self: stretch;
  order: 1;

  &--radio {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  &--checkbox {
    width: 38px;
    height: 38px;
    margin-right: 22px;
  }

  &--textarea {
    height: 142px;
  }

  &:hover ~ .control__decoration,
  &:focus-visible ~ .control__decoration {
    color: variables.$form-hover-color;
    opacity: 1;
  }

  @supports not selector(::focus-visible) {
    &:focus ~ .control__decoration {
      color: variables.$form-hover-color;
      opacity: 1;
    }
  }
}

.control__decorated-input-wrapper {
  position: relative;
  align-self: stretch;

  .control__input {
    width: 100%;
  }
}

.control__decoration {
  position: absolute;
  opacity: 0.2;
  pointer-events: none;

  &--phone {
    top: 11px;
    right: 7px;
  }

  &--email {
    top: 16px;
    right: 3px;
  }
}
