@use "common/variables";

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  &:hover .copyright__logo {
    color: #46c1ae;
  }

  &:active .copyright__logo {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.copyright__logo {
  display: block;
  margin-left: 27px;
  color: #63d1bb;
  transition: color 120ms, opacity 120ms;

  @media (min-width: variables.$tablet-min-width) {
    margin-left: 26px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-left: 28px;
  }
}
