@use "common/variables";

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.copyright__logo {
  display: block;
  margin-left: 27px;

  @media (min-width: variables.$tablet-min-width) {
    margin-left: 26px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-left: 28px;
  }
}

.copyright__logo-image {
  display: block;
}
