@use "common/variables";

.feedback {
  padding: 28px 30px 45px;
  background-color: variables.$primary-background-color;

  @media (min-width: variables.$tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 79px 50px 115px;
    background-image: url("../img/feedback-background.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: variables.$desktop-min-width) {
    padding: 78px 0 162px 175px;
  }
}

.feedback__title {
  margin: 0;

  @media (min-width: variables.$tablet-min-width) {
    max-width: 70%;
    margin: 4px 0 38px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-top: 0;
    margin-bottom: 35px;
    margin-left: -1px;
  }
}

.feedback__slider {
  @media (min-width: variables.$tablet-min-width) {
    flex: 0 0 100%;
    order: 1;
  }
}

.feedback__write-button {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  @media (min-width: variables.$tablet-min-width) {
    flex: 0 0 175px;
    margin-bottom: 40px;
    font-size: 17px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-top: 1px;
  }
}
