@use "common/variables";

.header {
  color: variables.$primary-color;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: variables.$tablet-min-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: variables.$desktop-min-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
