@use "common/variables";

.hero {
  padding-top: 72px;
  background-color: variables.$hero-background-color;
  background-image: url("../img/house-with-toys.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.hero__title {
  margin: 0 30px 120px;
  text-align: center;
}

.hero__categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero__link {
  font-size: 19px;
  font-weight: 700;
  color: variables.$color-white;
  line-height: 24px;
  padding: 24px 30px 18px;
  display: flex;
  justify-content: space-between;

  &--interior {
    background-color: variables.$color-turquoise;

    &::after {
      content: url("../img/icon/lamp.svg");
      opacity: 0.5;
      margin-right: 6px;
    }
  }

  &--toys {
    background-color: variables.$color-dark-turquoise;

    &::after {
      content: url("../img/icon/brick.svg");
      opacity: 0.5;
      margin-right: -3px;
    }
  }
}
