@use "common/variables";

.hero {
  padding-top: 72px;
  background-color: variables.$hero-background-color;
  background-image: url("../img/decoration/house-with-toys-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: 569px 373px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decoration/house-with-toys-mobile@2x.jpg");
  }

  @media (min-width: variables.$tablet-min-width) {
    position: relative;
    padding: 101px 50px 7px;
    background-image: url("../img/decoration/house-with-toys.jpg");
    background-position: center bottom 5px;
    background-origin: content-box;
    background-size: 1150px 746px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decoration/house-with-toys@2x.jpg");
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../img/decoration/svg/pattern/zigzag-wave.svg");
      background-position: center;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    padding: 104px 0 12px;

    &::after {
      height: 34px;
      background-size: 1246px 100%;
    }
  }
}

.hero__wrapper {
  @media (min-width: variables.$desktop-min-width) {
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.hero__title {
  min-height: 90px;
  margin: 0 30px 120px;
  text-align: center;

  @media (min-width: variables.$tablet-min-width) {
    min-height: 100px;
    margin-bottom: 371px;
  }

  @media (min-width: variables.$desktop-min-width) {
    min-height: 114px;
    margin-bottom: 355px;
  }
}

.hero__categories {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-min-width) {
    display: flex;
  }
}

.hero__category {
  @media (min-width: variables.$tablet-min-width) {
    flex: 1;
    display: flex;
  }
}

.hero__link {
  display: flex;
  padding-left: 30px;
  padding-right: 27px;
  justify-content: space-between;
  color: variables.$color-white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: background-color 200ms, transform 220ms;

  &::after {
    content: "";
    width: 60px;
    margin-left: 15px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 0;
    text-align: center;
    opacity: 0.5;
    transition: opacity 120ms;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--interior {
    padding-top: 23px;
    padding-bottom: 18px;
    background-color: variables.$color-turquoise;

    &::after {
      height: 62px;
      background-image: url("../img/decoration/svg/icon/lamp.svg");
    }

    .hero__link-text {
      margin-top: 1px;
    }

    &:hover,
    &:active {
      background-color: #59d5bc;
    }
  }

  &--toys {
    padding-top: 21px;
    padding-bottom: 22px;
    background-color: variables.$color-dark-turquoise;

    &::after {
      height: 60px;
      background-image: url("../img/decoration/svg/icon/brick.svg");
    }

    .hero__link-text {
      margin-top: 3px;
    }

    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }

  @media (min-width: variables.$tablet-min-width) {
    flex: 1;
    padding: 25px 33px 32px 36px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      margin-top: 5px;
      flex-shrink: 0;
    }

    &:hover {
      transform: translateY(-5px);
    }

    &--interior {
      &::after {
        background-position-x: 16px;
      }
    }

    &--toys {
      .hero__link-text {
        margin-top: 1px;
      }
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    &::after {
      margin-top: 5px;
      margin-right: 2px;
    }

    &--interior {
      &::after {
        background-position-x: 18px;
      }
    }
  }
}
