@use "common/variables";

.input {
  // font-family: variables.$font-stack;
  // font-style: normal;
  // font-size: 19px;
  // font-weight: 400;
  // line-height: 18px;
  // color: variables.$secondary-color;
  // padding: 0;
  // border: none;
  // border-bottom: 2px solid variables.$primary-color;

  &--radio-alternate {
    appearance: none;
    border: 2px solid rgba(68, 68, 68, 0.1);
    border-radius: 0;
    cursor: pointer;

    &:hover {
      border-color: variables.$input-interaction-color;
    }

    &:active,
    &:checked {
      border-color: variables.$form-hover-color;
    }
  }

  &:hover {
    border-color: variables.$form-hover-color;
  }

  &::placeholder {
    font-family: variables.$font-stack;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: variables.$primary-color;
    opacity: 0.3;
  }

  &:focus-visible {
    outline: none;
    border-color: variables.$form-hover-color;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
      border-color: variables.$form-hover-color;
    }
  }

  &--radio {
    appearance: none;
    border: 2px solid variables.$secondary-color;
    cursor: pointer;
    border-radius: 50%;

    &:checked {
      background-image: url("../img/icon/circle.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active {
      border-color: variables.$input-interaction-color;
    }
  }

  &--checkbox {
    appearance: none;
    border: 2px solid variables.$secondary-color;
    cursor: pointer;

    &:checked {
      background-image: url("../img/icon/tick.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active {
      border-color: variables.$input-interaction-color;
    }
  }

  &--space-reserved {
    padding-right: 39px;
  }

  &--textarea {
    border: 2px solid variables.$primary-color;
    resize: none;
    padding: 17px;
  }
}
