@use "common/variables";

.legend {
  color: variables.$color-turquoise;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-min-width) {
    line-height: 17px;
  }
}
