@use "common/variables";

.legend {
  font-family: variables.$font-stack;
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: variables.$color-turquoise;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
