@use "common/variables";

.logo-link {
  display: block;

  @media (min-width: variables.$tablet-min-width) {
    margin-top: 2px;
    margin-left: -2px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-top: 0;
  }

  &--footer {
    @media (max-width: variables.$mobile-max-width) {
      display: none;
    }

    @media (min-width: variables.$tablet-min-width) {
      margin: 0;

      .logo-link__image {
        display: block;
      }
    }
  }
}

.logo-link__image {
  display: block;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: variables.$tablet-min-width) {
    display: none;

    &--tablet {
      display: block;
    }
  }

  @media (min-width: variables.$desktop-min-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
