@use "common/variables";

.logo-link {
  display: block;
  margin-top: -2px;
  transition: opacity 150ms;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-min-width) {
    margin-top: 2px;
    margin-left: -2px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-top: 0;
    margin-left: -2px;
  }

  &--footer {
    color: variables.$primary-color;

    @media (max-width: variables.$mobile-max-width) {
      display: none;
    }

    @media (min-width: variables.$tablet-min-width) {
      margin: 0;

      &[href]:hover {
        color: #46c1ae;
        opacity: 1;
      }

      &[href]:active {
        color: #46c1ae;
        opacity: 0.3;
      }
    }
  }
}

.logo-link__image {
  display: block;
  transition: fill 150ms, opacity 150ms;

  @media (min-width: variables.$tablet-min-width) {
    width: auto;
  }
}
