@use "common/variables";

.main-footer {
  background-color: variables.$secondary-background-color;
}

.main-footer__wrapper {
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-min-width) {
    display: flex;
    align-items: center;
    padding: 51px 50px 58px;
  }
}

.main-footer__socials-wrapper {
  width: 54.7%;
  padding: 25px 0 28px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-min-width) {
    width: 22%;
    padding: 0;
  }
}

.main-footer__copyright-wrapper {
  padding: 22px 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;

  @media (min-width: variables.$tablet-min-width) {
    padding: 0;
    border-top: none;
  }
}
