@use "common/variables";

.main-container__header {
  padding: 74px 30px;
  margin: 0;
  background-color: variables.$secondary-background-color;
  text-align: center;
}

.main-container__section-wrapper {
  @media (min-width: variables.$desktop-min-width) {
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.main-container__section {
  &--decorated {
    position: relative;
    border-bottom: 6px solid variables.$secondary-background-color;
    border-image: url("../img/decoration/zigzag-line-pattern.svg") 6 0 repeat;

    @media (min-width: variables.$tablet-min-width) {
      border-bottom: 17px solid variables.$secondary-background-color;
      border-image-repeat: stretch;
    }

    @media (min-width: variables.$desktop-min-width) {
      border-bottom: 23px solid variables.$secondary-background-color;
    }
  }
}
