@use "common/variables";

.quote {
  display: grid;
  grid-template-rows: auto min-content;
  align-items: center;
  padding: 0;
  margin: 0;
  color: variables.$secondary-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: variables.$tablet-min-width) {
    font-size: 17px;
  }
}

.quote__container {
  display: block;
  margin: 0 0 18px;
  padding: 0;

  @media (min-width: variables.$tablet-min-width) {
    margin-bottom: 61px;
  }

  @media (min-width: variables.$desktop-min-width) {
    margin-bottom: 44px;
  }
}

.quote__text {
  display: block;
  margin: 0;
  padding: 0;
}

.quote__attribution {
  font-size: 17px;

  @media (min-width: variables.$tablet-min-width) {
    max-width: 70%;
  }

  @media (min-width: variables.$desktop-min-width) {
    max-width: 75%;
    margin-left: -1px;
  }
}

.quote__author-name {
  display: block;
  margin-bottom: 3px;
  color: variables.$primary-color;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: variables.$tablet-min-width) and (max-width: variables.$tablet-max-width) {
    margin-bottom: 4px;
    font-size: 18px;
  }
}

.quote__author-link {
  color: variables.$secondary-color;
  font-weight: 400;
  line-height: 30px;
}
