.socials {
  display: flex;
  column-gap: 29px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px 0 2px;
  margin: 0;
  list-style-type: none;
}

.socials__link {
  &:hover .socials__icon {
    color: #46c1ae;
  }

  &:active .socials__icon {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.socials__icon {
  display: block;
  color: #231f20;
  transition: color 120ms, opacity 120ms;
}
