.button {
  display: block;
  background-color: #ffffff;
  border: 2px solid #444444;
  padding: 14px 20px;
  font-family: "Open Sans";
  font-style: normal;
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--textual {
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    text-transform: none;
    border: none;
    padding: 0;
  }

  &--alternate {
    font-size: 17px;
    line-height: 16px;
    color: #ffffff;
    background-color: #63d1bb;
    border: none;
    padding: 18px 30px;
  }

}
