.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  column-gap: 27px;
  justify-content: center;
  align-items: center;
}
