.custom-control {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.custom-control__marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer;
  box-sizing: border-box;
}

.custom-control:hover .custom-control__marker {
  border-color: rgba(68, 68, 68, 0.3);

}

.custom-control__input:checked ~ .custom-control__marker {
  border-color: #63d1bb;
}
