.feedback {
  padding: 29px 30px 45px;
}

.feedback__title {
  margin-bottom: 14px;
}

.feedback__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px;
}

.feedback__buttons {
  border: 1px solid #ececec;
  margin-bottom: 38px;
}
