.legend {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
