.main-container__section {
  position: relative;

  &--decorated::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    background-color: #f1f1f1;

    bottom: 0;
    transform: translateY(100%);
  }

}


