.navigation {

}

.navigation__menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--open {
    width: 20px;
    height: 14px;
    background-image: url("../img/icon/menu-open.svg");
  }

  &--close {
    width: 21px;
    height: 20px;
    background-image: url("../img/icon/menu-close.svg");
  }

}

.navigation__menu {
  position: absolute;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0;



  &--hidden {
    display: none;
  }

}

.navigation__menu-item {


}
