.text {
  font-family: "Open Sans";
  font-style: normal;
  color: #444444;

  &--dense {
    line-height: 20px;
  }

  &--dominant {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
  }

  &--legend {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &--weekly-specs {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  &--price {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }

  &--price-small {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }

  &--button {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }


  &--dark {
    color: #000000;
  }

  &--light {
    color: #ffffff;
  }

  &--upper {
    text-transform: uppercase;
  }

}
