.weekly-goods {
  font-family: "Open Sans";
  font-style: normal;
  color: #444444;
}

.weekly-goods__content-wrapper {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.weekly-goods__header {
  margin-top: 31px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.weekly-goods__title {
  margin: 0;
  order: 1;
}

.weekly-goods__subtitle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.weekly-goods__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 21px;
}

.weekly-goods__properties {
  // font-size: 15px;
  // font-weight: 400;
  // line-height: 20px;
  margin-top: 0;
  margin-bottom: 28px;
}

.weekly-goods__property-wrapper {
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}

.weekly-goods__property-value {
  width: 162px;
  margin: 0;
}

.weekly-goods__image {
  margin-bottom: 26px;
}

.weekly-goods__price {
  display: block;
  text-align: center;
  // font-size: 17px;
  // font-weight: 700;
  // line-height: 24px;
  margin-bottom: 24px;
}

.weekly-goods__button {
  width: 100%;
}

